@model Notifier.Web.Models.NotifierVm
<notifier>
    Loading...
</notifier>

@section scripts {
    <script>
        (function (win) {
            var authConfig = {
                authority: '@Model.AuthSettings.Authority',
                client_id: '@Model.AuthSettings.ClientId'
            };
            win.notifierSettings = {
                authConfig: authConfig
            };
        }(window));
    </script>

    <environment names="Development">       
     
    </environment>

    <environment names="Staging,Production">
       
    </environment>
}