﻿<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Notifier</title>
        <base href="/" />
        
          <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
           <!--<link rel="stylesheet" href="css/main.css">-->
           <!-- 1. Load libraries -->
           <!-- Polyfill(s) for older browsers -->
           <script src="lib/core-js/client/shim.min.js"></script>
           <script src="lib/zone.js/dist/zone.js"></script>
           <script src="lib/reflect-metadata/Reflect.js"></script>
           <script src="lib/systemjs/dist/system.src.js"></script>
           <script src="lib/ng2-bootstrap/bundles/ng2-bootstrap.min.js"></script>
           <script src="auth/oidc-client.js"></script>
        <script src="systemjsConfig.js"></script>
        <script>
            System.import('app').catch(function (err) { console.error(err); });
        </script>
        <environment names="Development">
        </environment>
        <environment names="Staging,Production">            
@*            <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-teal.min.css"*@
@*             asp-fallback-href="lib/material-design-lite/dist/material.blue-teal.min.css"*@
@*             asp-fallback-test-class="mdl-ripple" />*@
@*            <script src="https://code.getmdl.io/1.1.3/material.min.js"*@
@*                    asp-fallback-src="lib/material-design-lite/material.min.js"*@
@*                    asp-fallback-test="window.componentHandler">*@
@*            </script>*@
          </environment>
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>